
* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* ----------------------------------------------- */
body {
    position: relative;
}
.container {
    max-width: 1281px;
}
main,
header,
.overlay {
    background-color: rgb(247, 247, 247);
}
h1 {
    font-size: 1.5rem;
    color: rgb(99, 99, 99);
    margin: 0 0 0 3rem;
    padding-top: 0.5rem;
}
img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: auto 0 auto auto;
}
.employee {
    margin: 1rem 0.5rem;
    padding: 8px;
    border: 2px solid lightgray;
    border-radius: 6px;
    background-color: #fff;
}
.flex-card {
    display: flex;
    padding: 1rem 0;
}
.flex-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 1.8rem;
    font-size: 0.9rem;
}
h2 {
    font-size: 1.1rem;
}
h2,
#email {
    margin-bottom: 0.5rem;
}

/* --------------- MODAL STYLES ----------------- */
.hidden {
    display: none;
}
button {
    width: 1.7rem;
    border-style: none;
    background: none;
    cursor: pointer;
}
.details {
    border-top: 1px solid rgb(179, 179, 179);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100,100,100,0.4);
}
.overlay span {
    font-size: 0.9rem;
}
.modal {
    width: 70%;
    max-width: 380px;
    margin: 125px auto 0 auto;
    background: #fff;
    border-radius: 8px;
}
.modal h2 {
    font-size: 1.1rem;
}
.modal-content,
.details {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.modal span,
.details span {
    margin: 0.5rem 0;
}
.modal-pic {
    margin: 0 auto;
}
.modal-content {
    padding: 14px 14px 26px 14px;
}

/* ----------------------------------------------- */
@media (min-width: 425px) {
    img {
        width: 125px;
        height: 125px;
    }
    
}

@media (min-width: 600px) {
    .modal {
        width: 50%;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
    }
    .employee {
        width: 45%;
        margin: 1.1rem auto;
    }
    img {
        width: 110px;
        height: 110px;
    }
    h2 {
        font-size: 1rem;
    }
    .flex-list {
        margin-left: 0.55rem;
        font-size: 0.75rem;
    }
    
}

@media (min-width: 1025px) {
    .flex-list {
        margin-left: 1.8rem;
    }
    .employee {
        width: 30%;
    }
}
