
* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

/* ----------------------------------------------- */
#search-bar {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 80%;
}
.container {
    margin: auto;
    width: 95%;
    max-width: 1281px;
}
body,
.overlay {
    background-color: rgb(247, 247, 247);
}
h1 {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(99, 99, 99);
    margin: 0 auto 1rem auto;
    padding-top: 0.5rem;
}
img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
}
.employee {
    margin: 1rem 0.5rem;
    padding: 8px;
    border: 2px solid lightgray;
    border-radius: 6px;
    background-color: #fff;
}
.employee:hover {
    background-color: rgb(219, 219, 219);
}
.flex-card {
    display: flex;
    padding: 1rem 0;
}
.flex-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 1.8rem;
    font-size: 0.9rem;
}
h2 {
    font-size: 1.1rem;
}
h2,
#email {
    margin-bottom: 0.5rem;
}
#email,
#city {
    font-size: 0.7rem;
}

/* --------------- MODAL STYLES ----------------- */
.hidden {
    display: none;
}
button {
    width: 1.7rem;
    border-style: none;
    background: none;
    cursor: pointer;
}
.details {
    border-top: 1px solid rgb(179, 179, 179);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100,100,100,0.4);
}
.overlay span {
    font-size: 0.9rem;
}
.modal {
    position: fixed;
    top: 20%;
    left: 22%;
    width: 60%;
    max-width: 380px;
    background: #fff;
    border-radius: 8px;
}
.modal h2 {
    font-size: 1.1rem;
}
.modal-content,
.details {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.modal span,
.details span {
    font-size: 0.75rem;
    margin: 0.5rem 0;
}
.modal-pic {
    margin: 0 auto;
}
.modal-content {
    padding: 0 14px 26px 14px;
}
#prev,
#next {
    position: relative;
    width: 2rem;
    height: 2rem;
    transition: transform ease-in 0.4s,
                background-color ease-out 0.3s;
}
#next {
    left: 100px;
}
#prev {
    right: 100px;
}
#next,
#prev {
    top: 120px;
}
.modal-pic {
    width: 125px;
    height: 125px;
}
#prev:hover,
#next:hover {
    transform: scale(1.2);
    background-color: rgb(179, 179, 179);
}
.margin-left {
    margin-left: 3rem;
}
.margin-right {
    margin-right: 3rem;
}

/* -----------MEDIA QUERIES----------------- */
@media (min-width: 425px) {
    img {
        width: 125px;
        height: 125px;
    }   
    #email,
    #city,
    .modal span {
        font-size: 0.8rem;
    }
    .modal-pic {
        width: 160px;
        height: 160px;
    }
}

@media (min-width: 570px) {
    .flex-list {
        margin: 0 1rem 0 1.8rem;
    }
    .flex-card {
        width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 736px) {
    .modal {
        left: 20%;
        width: 400px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
    }
    .employee {
        width: 45%;
        margin: 1.1rem auto;
    }
    img {
        width: 110px;
        height: 110px;
        margin: auto 0 auto 0.75rem;
    }
    h2 {
        font-size: 1rem;
    }
    .flex-list {
        margin-left: 0.55rem;
        font-size: 0.75rem;
    }
    .flex-card {
        width: 95%;
    }
    #email,
    #city {
        font-size: .72rem;
    }
}
@media (min-width: 768px) {
    .modal {
        left: 30%;
    }
}

@media (min-width: 1112px) {
    header {
        padding-top: 0.8rem;
        display: flex;
    }
    #search-bar {
        width: 30%;
        margin: auto;
    }
    .flex-list {
        margin-left: 1rem;
    }
    .employee {
        width: 31.5%;
    }
    .modal {
        left: 35%;
    }
    img {
        margin: auto 0.25rem auto 0.4rem;
    }
}

@media (min-width: 1280px) {
    #email,
    #city {
        font-size: 0.8rem;
    }
}